<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Alibaba Cloud OSS sample with Spring Boot.">
    <meta name="author" content="Afzaal Ahmad Zeeshan">

    <title>Homepage &mdash; Alibaba Cloud OSS</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link href="/styles/site.css" rel="stylesheet">
</head>

<body data-gr-c-s-loaded="true">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/">Alibaba Cloud + Spring Boot (Demo)</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Buckets <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

    <main role="main" class="container">

        <div class="starter-template">
            <h1>Alibaba Cloud Buckets</h1>
            <p>A list of all the buckets.</p>
            <p th:if="${buckets == null}">There are no buckets in the account.</p>
            <ul th:if="${buckets != null && buckets.size() > 0}">
                <li th:each="bucket : ${buckets}">
                    <a th:href="@{/bucket/{bucketName}(bucketName=${bucket.name})}"><p th:text="${bucket.name}"></p></a>
                    <p th:text="${bucket.location}"></p>
                    <p th:text="${bucket.creationDate}"></p>
                    <p th:text="${bucket.endpoint}"></p>
                </li>
            </ul>
        </div>

    </main><!-- /.container -->

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</body>

</html>
